<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vitpunerobotics.netra">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/log"
        android:label="Netra"
        android:roundIcon="@mipmap/log"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.vitpunerobotics.netra.splashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.vitpunerobotics.netra.Option" />
        <activity
            android:name="com.vitpunerobotics.netra.Voice_Control"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.vitpunerobotics.netra.Manual"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.vitpunerobotics.netra.Face_Tracker"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.vitpunerobotics.netra.Color_Detector"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.vitpunerobotics.netra.OCR_activity"
            android:label="@string/title_activity_ocr_act"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.vitpunerobotics.netra.demo"
            android:label="@string/demo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.vitpunerobotics.netra.Main2Activity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.vitpunerobotics.netra.Move_dist"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.vitpunerobotics.netra.Main3Activity"
            android:label="@string/title_activity_main3"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.vitpunerobotics.netra.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.vitpunerobotics.netra.Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.vitpunerobotics.netra.Gesture"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>